.-ps-style-img .p-postList__link,
.-type-thumb .p-postList__link,
.p-postList__thumb {
  border-radius: 6px;
}

.p-pickupBanners__item .c-bannerLink,
.p-postList__thumb {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sct_banner {
  display: block;
  text-align: center;
}
.sct_banner img {
  cursor: pointer;
  border-radius: 4px;
}

.p-articleThumb__img,
.p-articleThumb__youtube {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.post_content img {
  display: block;
  margin: 0 auto;
}