// ------ 共通変数 ------ //

// メディアクエリ
$rwd: "screen and (max-width: 767.98px)";
$pc: "screen and (min-width: 768px),print";

// colors
// 白
$white: #FFF;
// 黒
$black: #000;
// グレー
$gray_light: #E0E0E0;
$gray_dark: #C6C6C6;
// ベージュ
$beige: #B19C7E;
// text
$txt: #333333;
// base
$base: #E9F9F8;
// primary（水色）
$primary: #58CABE;
$primary_light: #81D8D0;
// secondary（赤）
$secondary: #FF6C79;
$secondary_light: #FFE5E8;

// ------ 共通変数 end ------ //